/*.score {
    position: fixed;
    left: 10%;
    top: 0;
}
  
.level {
    position: fixed;
    right: 10%;
    top: 0;
}
  
.clicks {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    text-align: center;
}
*/