@import url(https://fonts.googleapis.com/css?family=Open+Sans);


* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Fun Cartoon";
  src: url('../fonts/fun-cartoon-2.regular.ttf');
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html {
  font-size: 8px;
}

body {
  /*background: #a8c2ff;/*#f7f7f7;*/
  background-image: url("../img/game-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: calc(100vh - 10px);
  font-family: 'Fun Cartoon', sans-serif;
  cursor: default;
}

a {
  color: #2c82c9;
  text-decoration: none;
}

a:hover {
  color: #38a5ff;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-4{
  margin-top: 4rem;
}
.mt-5{
  margin-top: 5rem;
}

.col {
  margin: 0 auto;
}

.block {
  float: left;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border: .25rem solid rgba(0,0,0,.2);
  border-radius: .4rem;
  cursor: pointer;
}

.purple {
  background: #663399;
}

.blue {
  background: #2c82c9;
}
.blue:before {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 1rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}
.blue:after {
  content:"";
  position: absolute;
  margin: .625rem;
  margin-left: 2.625rem;
  width: 1rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}

.green {
  background: #2cc990;
}
.green:after {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 3rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: 50%;
}

.yellow {
  position: relative;
  background: #eee657;
}
.yellow:before {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 1.5rem;
  height: 1.5rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: 50%;
}
.yellow:after {
  content:"";
  position: absolute;
  bottom: 0;
  right: 0;
  margin: .625rem;
  width: 1.5rem;
  height: 1.5rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: 50%;
}

.orange {
  background: #fcb941;
}
.orange:after {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 3rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}

.red {
  background: #fc6042;
}
.red:before {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 3rem;
  height: 1rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}
.red:after {
  content:"";
  position: absolute;
  margin: .625rem;
  margin-top: 2.625rem;
  width: 3rem;
  height: 1rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}

.game-info{
  display: flex;
  margin:50px;
  justify-content:  space-around;
}
.level {
  /*position: fixed;
  left: 0;
  top: 10;
  padding: .5rem;*/
}

.score {
  /*position: fixed;
  right: 0;
  top: 10;
  padding: .5rem;*/
}

.clicks {
  /*position: fixed;
  top: 10;
  left: 25%;
  width: 50%;
  padding: .5rem;
  text-align: center;*/
}





.info {
	position: relative;
  top: 0;
  height: 3rem;
}

.card{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.game-card{
  max-height: 550px;
  min-height: 550px;
  overflow-y: auto;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  
  
}
.card.anim-block{
  max-width: 700px;
  padding: 10px 10px;
  background: #fffbe3;
  /*height: 300px;*/
  margin: auto;
  display: block;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  /*transform: translateY(-100px);*/
  z-index: 500;
  border: 15px solid #7F4922;
  
  
}
.watermark:after {
  content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../img/logo.png);
    background-size: 200px 150px;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    opacity: 0.2;
}
.card.anim-block.up {
  animation: circle 6s linear infinite;
}

@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-165px)
              rotate(-360deg);
  }
}

.hide {
  display: none;
}



.rules {
	/*padding: 1.5rem;*/
  font-size: 1rem;
}

.rules ol li {
  padding-bottom: 1rem;
}

.win {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.win-score {
  font-size: 2rem;
  text-align: center;
}

.win-text {
  font-size: 2rem;
  text-align: left;
}
.text-center{
  text-align: center;
}


.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 5px;
  color: #fff;
  position: relative;
  display: inline-block;
  border: unset;
  cursor: pointer;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.btn-green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.btn-green:hover {
  background-color: #48E68B;
}

.btn-red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.btn-red:hover {
  background-color: #FF6656;
}

.block-shape {
  position: relative;
  width: 200px;
  margin: 15px auto;
}

.face {
  /*width: 200px;
  height: 200px;*/
  /*background: #fff;*/
  background-image: url("../img/Three_face.png");
  width: 100%;
    height: 155px;
    background-repeat: no-repeat;
    /* border-radius: 100%; */
    /* margin: 50px auto; */
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15); */
    z-index: 50;
    position: relative;
}

/*.ear, .ear:after {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #000;
  z-index: 5;
  border: 10px solid #fff;
  left: -15px;
  top: -15px;
  border-radius: 100%;
}
.ear:after {
  content: '';
  left: 125px;
}

.eye-shade {
  background: #000;
  width: 50px;
  height: 80px;
  margin: 10px;
  position: absolute;
  top: 35px;
  left: 25px;
  transform: rotate(220deg);
  border-radius: 25px/20px 30px 35px 40px;
}
.eye-shade.rgt {
  transform: rotate(140deg);
  left: 105px;
}
*/
.eye-white {
  position: absolute;
  width: 30px;
  height: 22px;
  border-radius: 50px 50px 10px 10px;
  background: #fff; 
  z-index: 0;
  left: 53px;
    top: 78px;
  overflow: hidden;
}
.eye-white.rgt {
  right: 68px;
  left: auto;
  z-index: 0;
}

.eye-ball {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 20px;
  top: 20px;
  max-width: 10px;
  max-height: 10px;
  transition: 0.1s;
  
}
.eye-ball:after {
  content: '';
  background: #000;
  position: absolute;
  border-radius: 100%;
  right: 0;
  bottom: 0px;
  width: 20px;
  height: 20px;
}

/*.nose {
  position: absolute;
  height: 20px;
  width: 35px;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50px 20px/30px 15px;
  transform: rotate(15deg);
  background: #000;
}
*/
.body {
  /*background: #fff;*/
  background-image: url("../img/Three_body.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 153px;
  left: 39px;
  /* border-radius: 100px 100px 100px 100px/126px 126px 96px 96px; */
  width: 100%;
  height: 177px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
}

.hand, .hand:after, .hand:before {
  width: 40px;
  height: 30px;
  border-radius: 50px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  background: #ba1112;;
  margin: 5px;
  position: absolute;
  top: 150px;
  left: -40px;
}
.hand:after, .hand:before {
  content: '';
  left: -5px;
  top: 11px;
}
.hand:before {
  top: 26px;
}
.hand.rgt, .rgt.hand:after, .rgt.hand:before {
  left: auto;
  right: -40px;
}
.hand.rgt:after, .hand.rgt:before {
  left: auto;
  right: -5px;
}

.foot {
  top: 612px;
  left: 0px;
  position: absolute;
  background-image: url("../img/Three_legs.png");
  z-index: 1400;
  /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 40px 40px 39px 40px/26px 26px 63px 63px;*/
  width: 100%;
    height: 128px;
}



#cloud-one, #cloud-two, #cloud-three {
	animation-name: clouds-move;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#cloud-one {
	position: absolute;
  width: 180px;
	height: 60px;
	top: 40%;
	right: 0px;
		animation-name: clouds-move-x;
	animation-duration: 20s;
	animation-delay: -8s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}
#cloud-two {
	position: absolute;
  width: 150px;
	height: 40px;
	top: 55%;
	right: 0px;
		animation-name: clouds-move-x;
	animation-duration: 25s;
	animation-delay: -2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}
#cloud-three {
	position: absolute;
  width: 160px;
	height: 60px;
	top: 30%;
	right: 0px;
		animation-name: clouds-move-x;
	animation-duration: 15s;
	animation-delay: -10s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.cloud {
	
	background-color: #ffffff;
	border-radius: 100px;
	box-shadow: 0 10px 5px rgba(0,0,0, 0.2);
}
.cloud:before, .cloud:after {
	content: "";
  position: absolute;
  border-radius: 100px;
}
.cloud:before {
background-color: #ffffff;
	top: -30px;
	left: 40px;
	height: 60px;
	width: 60px;
}
.cloud:after {
	background-color: #ffffff;
	height: 100px;
	width: 100px;
	right: 30px;
	top: -50px;
}


.score,.level,.clicks{
  background-image: url("../img/game-cld.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
  width: 190px;
    height: 118px;
    line-height: 50px;
    animation: clouds-move-y 4s infinite;

}

@keyframes clouds-move-x {
0% {transform: translateX(30vw);
	}
100% {transform: translateX(-110vw);
	}
}
#clouds-container {
	overflow: clip;
}

@keyframes clouds-move-y {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10px);
  }
}


@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 575px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 845px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}